@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto',
    sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input {
  border: none;
  cursor: pointer;
}

button,
input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* header */

.header {
  background-color: #635854;
  padding: 10px 0;
  border-bottom: 4px solid #3596F5;
  margin-bottom: 55px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.navbar-menu {
  display: flex;
  text-align: center;
}

.navbar-item:not(last-child) {
  margin-right: 80px;
}

.navbar-link {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.navbar-contacts {
  text-align: right;
  color: #FFFFFF;
}

.navbar-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

/* main */
.main {
  display: flex;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 100px;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
}

.main-title {
  font-family: 'Bebas Neue',
    sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-transform: uppercase;
  color: #635854;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-family: 'Bebas Neue',
    sans-serif;
  font-size: 124px;
  color: #635854;
  margin: 35px 0;
}

.counter-arrow {
  background-color: #fff;
}

.counter-arrow-down {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  rotate: 180;
  -moz-transform: rotateX(180deg);
  rotate: 180;
  -ms-transform: rotateX(180deg);
  rotate: 180;
  -o-transform: rotateX(180deg);
  rotate: 180;
}

.button-primary {
  background: #3596F5;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 35px;
}